.navbar{
    background-color:rgb(68, 67, 67);
    color:white;
    width: 100vw;
    height: 7vh;
    padding:1rem
}
.footerbar{
    background-color:aliceblue;
    height: 5vh;
    width:100vw;
    padding:1rem;
}
.bodybar{
    height: 83vh;
    width:100vw;
}
.buttons{
    background-color:rgb(68, 67, 67);
    border-style: none;
    color:white
}